# workspace: Weekenders

[slack.channel]
prd = "XXXX" # the channel to send messages
dev = "XXXX" # the channel to send debug messages

[slack.user]
bot_id = "XXXX" # hikarie-is-god

# the user that can use slash commands
admin = "XXXX" # natsuki

[auth]
# Bot User OAuth Token
SLACK_BOT_TOKEN = "xoxb-XXXX-XXXX-XXXX-XXXX"
# App-Level Token
SLACK_APP_TOKEN = "xapp-XXXX-XXXX-XXXX-XXXX"

[database]
url = "sqlite:///:memory:"
